body {
    margin: 0;
    padding: 0;
    background-image: url("/assets/imagens/maxO_TVsaeZNlEunsplashmin2.jpg");
    background-repeat: no-repeat;
    background-position: 0px 80px;
}

.data-content {
    width: 1150px;
    margin: auto;
    height: 100%;
}

.container-1 {
    height: 80px;
    background: white;
}
.container-1 .img {
    height: 30px;
}

.container-1 .data-content {
    display: flex;
    align-items: center;
}

.section-hearder {
    margin-top: 50px;
    height: 650px;
}

.section-hearder .box-bord{
    height: 500px;
    width: 500px;
    border: 2px solid white;
}

.section-hearder .data-content {
    display: flex;
    justify-content: right;
}


.section-highlight {
    background-color: #33bddb;
    height: 300px;
    width: 100%;
}

.section-highlight .box {
    background-color: white;
    width: 350px;
    height: 350px;
    border: 1px solid white;
}

.section-highlight .data-content {
    display: flex;
    justify-content: space-between;
}

.section-highlight .data-content .box {
    position: relative;
    top: -75;
}









/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container .card {
    position: relative;
    padding: 10px;
    width: 340px;
    margin: 15px;
    border: 1px solid black;
    text-align:unset;
    height: 308px;
}

.button {
    height: 40px;
    width: 80px;

}





.container-imagens .img {
    
}
*/