* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container .card {
    position: relative;
    padding: 10px;
    width: 340px;
    margin: 15px;
    border: 1px solid black;
    text-align:unset;
    height: 308px;
}

.button {
    height: 40px;
    width: 80px;

}


