body {
    margin: 0;
    padding: 0;
    background-image: url("/assets/imagens/maxO_TVsaeZNlEunsplashmin2.jpg");
    background-repeat: no-repeat;
    background-position: 0px 80px;
    font-family: sans-serif;
}

.data-content {
    width: 1150px;
    margin: auto;
    height: 100%;
}

.container-1 {
    height: 80px;
    background: white;
}
.container-1 .img {
    height: 30px;
}

.container-1 .data-content {
    display: flex;
    align-items: center;
}

.section-hearder {
    margin-top: 50px;
    height: 650px;
}

.section-hearder .box-bord{
    height: 500px;
    width: 500px;
    border: 2px solid white;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-hearder .box-bord .subtitle {
    font-size: 2rem;
    margin: 0px;
}

.section-hearder .box-bord .title {
    font-size: 4rem;
    margin: 0px;
}

.section-hearder .box-bord .data {
    margin-left: 30px;
    margin-right: 30px;
}

.section-hearder .box-bord .data hr {
    background: white;
    height: 8px;
    border: 0px;
    width: 80%;
    float: left;
}

.section-hearder .data-content {
    display: flex;
    justify-content: right;
}


.section-highlight {
    background-color: #33bddb;
    height: 270px;
    width: 100%;
}

.section-highlight .box {
    background-color: white;
    width: 300px;
    height: 250px;
    position: relative;
    top: -85px;
    padding: 10px;
}

.section-highlight .box button {
    border: 1px solid lightblue;
    background: transparent;
    height: 50px;
    width: 100px;
    font-size: 14px
}

.section-highlight .box h1 {
    font-size: 2rem;
}

.section-highlight .data-content {
    display: flex;
    justify-content: space-between;
}


.primeira-section {
    background: white;
    height: 800px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.primeira-section .left {
    height: 100%;
    width: 45%;
}

.primeira-section .right  {
    background: white;
    height: 100%;
    width: 50%;
}

.primeira-section .right  h1 {
    font-size: 3rem;
    color: #33bddb;
    margin-top: 20px;
    margin-bottom: 20px;
}

.primeira-section .left p, .primeira-section .right p {
    font-size: 20px;
}

.primeira-section .right a {
    color: #33bddb;
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
}

.primeira-section .data-content {
    display: flex;
    justify-content: space-between;
}